<ion-header>
  <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row> 
      <ion-col>
          <ion-card>
              <ion-card-header>
                <ion-card-title>Configurar Pesos</ion-card-title>
                <ion-card-subtitle>Actual: {{val}} Kg</ion-card-subtitle>
              </ion-card-header>
          
              <ion-card-content>
                <ion-item>
                  <ion-range [(ngModel)]="val" pin="true" value="50" (ionChange)="updatePro($event)" min="0" max="120" color="secondary">
                    <ion-label slot="start">0</ion-label>
                    <ion-label slot="end">120</ion-label>
                  </ion-range>
                </ion-item>
                <ion-button color="secondary" (click)="guardarPeso()">Guardar</ion-button>
              </ion-card-content>
            </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-list>
            <ion-radio-group [(ngModel)]="modo" >
              <ion-list-header>
                <ion-label>Modo</ion-label>
              </ion-list-header>
          
              <ion-item>
                <ion-label>Peso</ion-label>
                <ion-radio slot="start" value="peso" checked></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Venta</ion-label>
                <ion-radio slot="start" value="venta"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <ion-button color="secondary" (click)="guardarModo()">Guardar</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>
