<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ficha de Identificacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-grid>
  <ion-row size="6" >
    <ion-col text-center size="6">
      <ion-card >
        <h1>{{bs.borrega.arete}} </h1>
        <h6>{{bs.borrega.peso_nacer}} Kg</h6><h2>{{bs.borrega.peso_actual}} Kg</h2>
        <h3>{{bs.borrega.genero}}</h3>
      </ion-card>
    </ion-col>
    <ion-col text-center size="6">
      <ion-row>
        <ion-col >
          <h6>Fecha de Nacimiento:</h6>
          <h4> <strong>{{bs.borrega.fecha_nac | date:'shortDate'}}</strong></h4>
        </ion-col>
        <ion-col >
          <h6>Fecha de Salida:</h6>
          <h4><strong>{{bs.borrega.fecha_salida | date:'shortDate'}}</strong></h4>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col >
              <h6>Fecha de Entrada:</h6>
              <h4> <strong>{{bs.borrega.fecha_entrada | date:'shortDate'}}</strong></h4>
            </ion-col>
            <ion-col >
              <h6>Fecha de Baja:</h6>
              <h4><strong>{{bs.borrega.fecha_baja | date:'shortDate'}}</strong></h4>
            </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row >
      <h6>Partos: <strong>2</strong></h6>       
  </ion-row>  
  <ion-row size="6">
        <ion-col>  
            <ion-list *ngFor="let item of bs.borrega.cria" >
                <ion-list-header>
                  <ion-label><strong> Partos&nbsp;&nbsp;&nbsp;&nbsp;Genero&nbsp;&nbsp;&nbsp;&nbsp;Nacimiento</strong></ion-label>
                </ion-list-header>
                <ion-item>{{item.parto}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.genero}}&nbsp;<img src="./../../assets/img/icons8_Happy_104px.png" width="5%">&nbsp;&nbsp;&nbsp;&nbsp;{{item.fecha_nacimiento}}</ion-item>
             
              </ion-list>
        </ion-col>

    
      <ion-col size="6">
        <div #chartContainer class='chart-container'>
          <canvas  #chartcanvas id="myChart"></canvas>
        </div>
      </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
