<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Ficha de Identificacion </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row size="6">
      <ion-col text-center size="6">
        <ion-card>
          <h5><strong>Arete: </strong>{{borrega.arete}} </h5>
          <h5><strong>Peso al nacer: </strong>{{borrega.peso_nacer}} Kg</h5>
          <h5><strong>Peso actual: </strong>{{borrega.peso_actual}} Kg</h5>
          <h5><strong>Numero de partos: </strong>{{borrega.num_partos}} </h5>
          <h5>{{borrega.genero}}</h5>
        </ion-card>
      </ion-col>
      <ion-col text-center size="6">
        <ion-card>
          <ion-row>
            <ion-col>
              <h6>Fecha de Nacimiento:</h6>
              <h5> <strong>{{borrega.fecha_nac | date:'shortDate'}}</strong></h5>
            </ion-col>
            <ion-col>
              <h6>Fecha de Salida:</h6>
              <h5><strong>{{borrega.fecha_salida | date:'shortDate'}}</strong></h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h6>Fecha de Entrada:</h6>
              <h5> <strong>{{borrega.fecha_entrada | date:'shortDate'}}</strong></h5>
            </ion-col>
            <ion-col>
              <h6>Fecha de Baja:</h6>
              <h5><strong>{{ borrega.fecha_baja | date:'shortDate'}}</strong></h5>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row >     
      <ion-col >
        <div #chartContainer class='chart-container'>
          <canvas #chartcanvas id="myChart"></canvas>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col >
            <ion-list *ngFor="let item of borrega.crias">
              <ion-list-header>
                <ion-label><strong> Partos&nbsp;&nbsp;&nbsp;&nbsp;Genero&nbsp;&nbsp;&nbsp;&nbsp;Nacimiento</strong>
                </ion-label>
              </ion-list-header>
              <ion-item>{{item.parto}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.genero}}&nbsp;<img
                  src="./../../assets/img/icons8_Happy_104px.png"
                  width="5%">&nbsp;&nbsp;&nbsp;&nbsp;{{item.fecha_nacimiento}}</ion-item>
    
            </ion-list>
          </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>