<ion-header >
  <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Datos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
<ion-row>
  <ion-col>
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      <ion-list #slidingList>
        <ion-item-sliding *ngFor="let item of bs.borregascoll">
        <ion-item >
          {{ item.arete }}
        </ion-item>
        <ion-item-options side="end">
       <ion-item-option color="secondary">
          View
       </ion-item-option>
       </ion-item-options>
      </ion-item-sliding>
      </ion-list>
  </ion-col>  
</ion-row>
<ion-row>

</ion-row>
</ion-content>
