<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Datos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-searchbar animated type="search" [formControl]="searchControl" (ionInput)="onSearchInput()" placeholder="Busca la borrega"
        [(ngModel)]="searchTerm"></ion-searchbar>
      <ion-list >
        <ion-item-sliding *ngFor="let item of bs.borregasArray ">
          <div *ngIf="searching" class="spinner-container">
            <ion-spinner></ion-spinner>
          </div>

          <ion-item lines="inset" button [routerLink]="['/card',item.id]"><img src="./../../assets/img/icons8_Lamb_104px.png" width="8%">
            <ion-label><b> Arete: </b>{{item.arete+" "}}<b>Peso: </b> {{" "+item.peso_actual}} </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
  </ion-row>
</ion-content>